/* Manipulando elementos por TAG */
p { 
  color: blueviolet;
}

/* 
  Manipulando elemento por CLASSE 
  Ex: .nome-classe { 
  }
*/

.link-menu {
  color : red;
}

.text-center { 
  text-align: center;
}

/* Manipulando arquivos por ID */
#titulo-principal {
  color: green;
}

body { background: #FFFFFF }

h1 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 2;

}
        

h2 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 9px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* Adiciona espaço negativo para compensar o espaço extra */
}

.row::after {
  content: "";
  flex: auto;
}

[class^="col-"] {
  box-sizing: border-box;
  padding: 10px; /* Adiciona espaço interno às colunas */
}

.col-4 {
  flex: 0 0 33.33%; /* Define cada coluna com 1/3 (33.33%) de largura */
}